<!DOCTYPE html>
<head>
  <title>Survey Form</title>
</head>
  <body>
    <h2>Here are all your data:</h2>
      <h3>Name: <%= user_data.name %> </h3>
      <h3>Location: <%= user_data.location %> </h3>
      <h3>Language: <%= user_data.language %> </h3>
      <h3>Comment: <%= user_data.comment %> </h3>
  </body>
</html>

