.character{
  width:170px;
  height:170px;
  display:inline-block;
  position:absolute;
  top:700px;
  left:200px;
}
#field{
  background-image: url('../images/tower.gif');
  width:800px;
  height:800px;
  position:relative;
}
h1{
  font-size:16px;
}
body{
  font-size:12px;
}
h2{
  font-size:14px;
}
