<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h3>Add a Quote!</h3>
  <form action="/quotes" method="post">
    Name: <input type="text" name="name">
    Quote: <textarea type="text" name="quote"></textarea>
    <input type="submit" value="Submit">
  <a href="/main">To the Quotes</a>
  </form>

</body>
</html>
