
<form action='/pigs/<%= pigs.id %>' method='post'>
    Name: <input type='text' name='name' value="<%= pigs.name %>">
    Age: <input type='text' name='age' value="<%= pigs.age %>">
    <input type='submit' value='Update Pig'>
</form>

