
<form action='/pigs/<%= pig.id %>' method='post'>
    Name: <input type='text' name='name' value="<%= pig.name %>">
    Age: <input type='text' name='age' value="<%= pig.age %>">
    <input type='submit' value='Update Pig'>
</form>

